<div id="easyPara">
    <img #bg data-depth="0.3" class="parallax bg-img" src="assets/img/Background.png" alt="">
    <img #bldg3 data-depth="0.2" class="parallax bldg-3" src="assets/img/karcbal.png" alt="">
    <img #bldg2 data-depth="0.5" class="parallax bldg-2" src="assets/img/karcjobb.png" alt="">
    <div #text data-depth="0.8" class="text parallax">
        <h2>MaDaRa</h2>
        <h1><span>Real</span> Estate</h1>
    </div>
    <img #bldg1 data-depth="0.6" class="parallax bldg-1" src="assets/img/karcközép.png" alt="">
    <img #fog  data-depth="0.1" class="parallax fog" src="assets/img/köd.png" alt="">
    <img #plane data-depth="1" class="parallax plane" src="assets/img/repzi.png" alt="">
</div>