<section class="container-md mt-3 shadow p-3 bg-light">
    <h3 i18n class="text-center">Forgot Password</h3><hr>
  <form [formGroup]="forgotPasswordForm" class="text-center" (ngSubmit)="forgotPassword()">


    <div class="mb-3">
      <label i18n for="email" class="form-label">Email:</label>
      <input type="text" class="form-control" id="email" formControlName="email" />
      <div i18n *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger">
        Email is required.
    </div>
        <ng-container *ngIf="forgotPasswordForm.get('email')?.getError('missingField')">
            <small i18n *ngFor="let errorMessage of forgotPasswordForm.get('email')?.errors!['message']" class="text-danger d-block">{{ errorMessage }}</small>
            </ng-container>
    </div>

    <div class="mb-3">
        <label i18n for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" formControlName="password" />

        <div i18n *ngIf="forgotPasswordForm.get('password')?.invalid && forgotPasswordForm.get('password')?.touched" class="text-danger">
            Password is required. <p>Password Must contain: min one special character, one number, lower and upper case!</p>
        </div>
    
            <ng-container *ngIf="forgotPasswordForm.get('password')?.getError('missingField')">
                <small *ngFor="let errorMessage of forgotPasswordForm.get('password')?.errors!['message']" class="text-danger d-block">{{ errorMessage }}</small>
                </ng-container>
      </div>

      <div class="mb-3">
        <label i18n for="passwordAgain" class="form-label">Password Again:</label>
        <input type="password" class="form-control" id="passwordAgain" formControlName="passwordAgain" />

        <div i18n *ngIf="forgotPasswordForm.get('password')?.invalid && forgotPasswordForm.get('passwordAgain')?.touched" class="text-danger">
            Password is required. <p>Password Must contain: min one special character, one number, lower and upper case!</p>
        </div>
    
            <ng-container *ngIf="forgotPasswordForm.get('passwordAgain')?.getError('missingField')">
                <small *ngFor="let errorMessage of forgotPasswordForm.get('passwordAgain')?.errors!['message']" class="text-danger d-block">{{ errorMessage }}</small>
                </ng-container>
      </div>
     

    <button i18n type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Get new password</button>
</form>
<div class="mb-3">
  <a i18n routerLink="/login">Back to Login</a>
</div>
</section>
